@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scroll-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.horizontal-scroll{
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent; 
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.netflix-spinner {
  width: 26px;
  height: 26px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #e50914;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
